<h2 ngNonBindable>string interpolation -{{}}</h2>
<p>this is the para tag</p>
<p>using string interpolation we can transfer data from html to ts</p>
<h3>
  {{ title }}
</h3>

<h2>Property binding - []</h2>
<p>property binding is used to transfer values to attributes from ts</p>
<p>for example we are now trying to get value of input field from ts</p>
<input type="text" [value]="username" name="username" />

<p>
  we can also get the image src from the ts and here we just need the tag to
  pulled up
</p>

<h2>Event binding - ()</h2>
<p>
  This is the first tag where interpolation occurs like from html to ts for
  example : let's say there is a button then when you click the button a fuction
  in ts is called same like dom
</p>

<button (click)="clickMe()">click</button>

<h2>Two way data binding - [()]</h2>
<p>
  two way data binding is combination of both event binding with property
  binding like for example we can say we are taking the input from the ts at
  start but when we will change the value in the input field so will change the
  var value as well
</p>

<input type="text" name="num1" [(ngModel)]="num1" />

<p>{{ num1 }}</p>
